* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* --------Colors----------- */
    --body-color: #85b0ff;
    --bg-dark: #424242af;
    --sidebar-color: #0f0f0f;
    --primary-color: #009297;
    --primary-color-light: #4b00c4;
    --toggle-color: #ffffff;
    --text-color: #3f3f3f;
    
    /* --------Tranistions----------- */
    --trans-01: all 100ms ease-in-out;
    --trans-02: all 200ms ease-in-out;
    --trans-03: all 300ms ease-in-out;
    --trans-04: all 400ms ease-in-out;
    --trans-05: all 500ms ease-in-out;
}
#root {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: var(--bg-dark);
}
.main {
    flex: 1;
    width: 100%;
    max-height: 100%;
    padding: 1.5rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

.dashboard{
    display: flex;
    height: 90vh;
    width: 100%;
    border-radius: 3%;
    gap: 1rem;
    margin-top: 10px;
}
.stats-container {
    display: flex;
    flex: 3;
    flex-direction: column;
}
.record-container {
    margin-top: 1rem;
    scroll-behavior: auto;
    display: flex;
    flex: 3;
    flex-direction: column;
    overflow-y: auto;
}
.main-items {
    display: flex;
    height: 100%;
    gap: 1rem;
}
.main-items {
    flex: 2;
    /* width: 75%; */

}
.main-items .content {
    flex: 1;
    /* width: 25%; */
    padding: .5rem;
    background: rgb(139, 139, 139);
    border-radius: 0 25px 25px 0;
}
.history-dashboard {
    display: flex;
    flex-direction: column;
    height: 90vh;
    max-height: 100%;
    background-color: #9e9e9e;
}
.main-record-items {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    scroll-behavior: auto;
}
.history-dashboard {
    box-shadow: 5px 4px 10px inset;
}
.history-footer {
    padding: 10px 0 10px 0;
}
.history-dashboard .history-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top: 1px solid white;
}
.stats {
    height: 33%;
    width:100%;
    /* background: var(--bg-dark); */
    border-radius: 25px 0 0 0;
    padding: .5rem;
}
.dashboard .name-content {
    height: 33%;
    width:100%;
    /* background: var(--bg-dark); */
    padding: .5rem;
}

.record-container .name-content {
    min-height: 150px;
    width:100%;
    /* background: var(--bg-dark); */
    padding: .5rem .5rem .5rem 1rem;
    padding-left: 1rem;
    cursor: pointer;
}
.not-found{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column-reverse;
    margin-left: 18rem;
    width: 90%;
    height: 90%;
    font-size: 1.2rem;
    overflow-y: hidden;
}