* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* --------Colors----------- */
    --body-color: #85b0ff;
    --bg-light: #ffffffaf;
    --sidebar-color: #afafaf;
    --primary-color: #009297;
    --primary-color-light: #4b00c4;
    --toggle-color: #ffffff;
    --text-color: #3f3f3f;
    --white: #ffffff;
    
    /* --------Tranistions----------- */
    --trans-01: all 100ms ease-in-out;
    --trans-02: all 200ms ease-in-out;
    --trans-03: all 300ms ease-in-out;
    --trans-04: all 400ms ease-in-out;
    --trans-05: all 500ms ease-in-out;
}
body {
    height: 100vh;
    background-color: var(--bg-light);
}

h1, h2 {
    color: var(--white);
    user-select: none;
}
